// Widget
.widget {
    background: #fff;
    padding-left: 30px;

    .widget-title {
        width: 80%;
        letter-spacing: 2px;
        border-bottom: 4px solid $font-color-secondary;
        font-size: 1.5em;
        margin-bottom: 20px;
        line-height: 1.6;
        padding-bottom: 5px;
        font-weight: 400;
        color: $font-color-primary;
    }
}

.widget-category ul {
    padding: 0;
    margin: 0;
    padding-left: 25px;

    li {
        list-style-type: none;
        position: relative;
        line-height: 170%;
        margin-bottom: 10px;
        letter-spacing: 1px;
        color: $font-color-secondary;
        line-height: 1.7;

        &::before {
            content: '\f3fe';
            font-family: "Ionicons";
            position: absolute;
            left: -25px;
            top: 1px;
            font-size: 18px;
            color: #000;
        }
    }
}
