* {outline: none;}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

b {
    font-weight: 400;
}

a {
    color: #333;
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

::selection {
    background-color: #eee;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #555;
  font-family: 'Lato', sans-serif;
}

p {
    font-family: $base-font, sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.01em;
    font-size: $font-size-small;
    line-height: 25px;
}

#single p,
#page p {
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
}
h1.entry-title a:hover {
    color: gray;
}

.title {
    margin-bottom: 30px;
}

figure {
    margin-bottom: 25px;
}

.img-responsive-center img {
    margin: 0 auto;
}

.height-40px {
    margin-bottom: 40px;
}

#site-header {
    background-color: #FFF;
    padding: 25px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}
