
/**
 * 9.0 - Contact Page Social
 */

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.social li a {
    border: 1px solid #888;
    font-size: 22px;
    color: #888;
    transition: all 0.3s ease-in;
}

.social li a:hover {
    background-color: #333;
    color: #fff;
}

.facebook a {
    padding: 12px 21px;
}

.twitter a {
    padding: 12px 15px;
}

.google-plus a {
    padding: 12px 15px;
}

.tumblr a {
    padding: 12px 20px;
}
