@import url("http://fonts.googleapis.com/css?family=Lato:300,400");
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400");

@import "components/base";
@import "components/header";
@import "components/search";
@import "components/post";
@import "components/aside";
@import "components/contact-page";
@import "components/contact-form";
@import "components/mobile-menu";
@import "components/media-query";
@import "components/footer";

.emphasize, .emphasize a {
    font-weight: bold;
    font-size: 13px;
    color: #787878;
}

// Utilities classes
.bb-n {
    border-bottom: none;
}

.bb-1 {
    border-bottom: 1px solid lighten(grey, 40%);
}

.pb-1 {
    padding-bottom: 1em;
}

.bg-teal {
    background-color: lighten(teal, 10%);
    color: #fff;
}

.auth-form {
    margin-top: 4em;
}
