@import url('https://fonts.googleapis.com/css?family=Lato');

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mixins";

@import "components/base";
@import "components/header";
@import "components/search";
@import "components/post";
@import "components/aside";
@import "components/contact-page";
@import "components/contact-form";
@import "components/mobile-menu";
@import "components/media-query";
@import "components/footer";
@import "utilities";

.emphasize, .emphasize a {
    font-weight: bold;
    font-size: $font-size-smallest;
    color: #787878;
}

.btn__submit {
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}

.go-back {
    font-size: 1.1em;
    margin-bottom: 2em;
}
